/* Write some CSS below */
body{
	font-family: Overpass;
	font-size: 18 px;
	color:  rgb (30, 30, 30);
	background-color: rgb(230, 230, 230);
	margin: 0px;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: Chivo;
}

.banner{
	text-align: center;
	background-image: url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	padding: 100px 0px;
	color: white;
}

.banner h1{
	font-size: 45px;
}

.banner p{
	font-size: 30px;
}

.btn-yellow{
	color: white;
	background-color: #fbb831;
	padding: 15px 25px;
	margin-top: 30px;
	border-radius: 4px;
}

.btn-yellow:hover{
	opacity: 0.8;
}

.card-white img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.card-white{
	background-color: white;
	width: 220px;
	padding: 24px;
	text-align: center;
	margin: 8px;
	border-radius: 4px;
}

.container